<head>
<script >
function solution()
{
    var originalTarget = 600851475143;
var target = originalTarget;
var i = 2;
while(i<target) {
	while(target%i === 0) {
			(function(newtarget) {
					target = newtarget;
							})(target / i)
								}
									i++;
									}
									console.log(target);
}
function suma()
{
    let sumaWielokrotnści = 0;
for (i = 0;i<1000;i++)
{
 if(i%5==0||i%3==0)
 {
     sumaWielokrotnści+=  i;
 }
}
console.log ("Suma liczb od 1 do tysiąc podzielnych przez 3 lub 5 to " + sumaWielokrotnści );
}
</script>
<script>
function fibonaczi()
{let suma = 0;
let ostatnieWyrazenie = 0;

    for (i=1;i<=4000000;i+=ostatnieWyrazenie)
    {
        ostatnieWyrazenie =i - ostatnieWyrazenie  ;
       
         suma+= i ;
        console.log(i + "    ");
    }
    console.log(suma);
}
function stringi()
{
   
   let liczba=  600851475143;
   let i = 2;
    while (i<liczba)
    {
        while (liczba%i===0)
        {
           liczba= liczba/i;
        }
       i++;
    }
    console.log(liczba);

}
function czyPalindrom(a)
{
    
    let b = 0;
    let i = (a.length) - 1;
    while (b<i)
    {
        if (a[b]!==a[i])
        {return false;}
        b++;
        i--;
    } return true;
}
function palindromes() 
{
  let najwiekszyPalindrom = 0;
  let ijot;
  for (i=100;i<=999;i++)
  {
    for (j=100;j<=999;j++)
    {
        ijot = j*i;
        if ((ijot>najwiekszyPalindrom)  &&(czyPalindrom(String(ijot))))
        { najwiekszyPalindrom=ijot;
        }
    }
  }
    
    console.log(najwiekszyPalindrom);
}
function zad5()
{
    let wynik =1;
   for (i = 1; i<=20;i++)
   {
    wynik = (NWW(wynik,i));
   }
   console.log (wynik);
}
function NWW(a,b)
{
    let c = 0;
    let a1 = a;
    let b1= b;
    while(b!=0)
    {
        c=b;
        b=a%b;
        a=c;
    }
    return (a1*b1)/a;
}

function czyPierwsza(a)
{
    for (i = 2 ;i*i<=a;i++)
    {
        if (a%i ==0)
        {
           return false;
        }
    }
    return true;
}
</script>
</head>
<body onload="zad5()">


</body>